 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto:wght@500&display=swap');

*{
    
    margin:0;
    padding: 0;
}
.sidebar{
    background-color: rgb(240, 240, 230);
    font-family: 'Lato', sans-serif;
    width: 434px;
    /*background-color: red;*/
    width: 20vw;
    height: 100vh;
}
.sidebar nav{
    padding: 26px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px;

}

.sidebar nav li a{
    text-decoration: none;
    color: black;
}

.main{   
    /*background-color: yellow;*/
    width: 90vw;
}
.container{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.infocontainer{
    background-color: rgb(214, 106, 151);
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.hello{
   font-size: 65px;
}
.name{
    font-size:50px;
    font-weight: bold;
    

}
.about{
 font-size: 40px;
}

.button button{
padding: 9px 14px;
border-radius: 22px;
color:white;
background-color: dodgerblue;
font-weight: bold;
font-size: 21px;
margin: 0 3px;
cursor: pointer 
}

.button button:hover{
    background-color: white;
    color: dodgerblue;
}

.devinfo{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.devpic img
{
    width: 407px;
    height: 58vh;
}