 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,900&family=Roboto:wght@500&display=swap');

*{
    
    margin:0;
    padding: 0;
}
.sidebar{
    font-family: 'Lato', sans-serif;
    background-color: red;
    width: 20vw;
    height: 100vh;
}
.sidebar nav{
    padding: 26px;
}
.sidebar nav li{
    list-style: none;
    font-size: 30px;
    padding: 33px;

}

.main{   
    background-color: yellow;
    width: 90vw;
}
.container{
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
    display: flex;
}

.infocontainer{
    background-color: rgb(199, 21, 95);
    height: 78vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}
.devpic img
{
    width: 407px;
}